*{
	margin: 0;
	padding: 0;
	font-size: 13px;
}

a{
	font-size: 40px;
}

/* basic */
body{
	background-color: #F0F0F0;
}

nav {
	display: block;
	background-color: red;
	float: left;
	height: 100%;
	position: fixed;
	top: 0px;
	width: 400px;
	margin-left: -320px;
}

nav ul {
	margin-top: 100px;
}

nav ul li {
	list-style: none;
	margin-right: 90px;
	margin-left: 10px;
	margin-bottom: 10px;
}

nav ul li:nth-child(odd){
	background-color: orange;
}

nav ul li em{
	border-bottom: 1px solid black;

	font-size: 40px;
}

nav ul li em:after{
	float: right;
	margin: 0px 10px;
	content: "\\/";
}

nav ul li ul{
	margin-top: 0px;
	display: none;
}

nav ul li ul li{
	font-size: 20px;
	padding: 10px;
}

body > nav > ul > li.geklikt > ul > li > span{
	width: 50px;
	background-image: url('../images/kruisje.png');
	height: 50px;
	display: block;
	margin-left: 135px;
	margin-top: -30px;
}

#hamburgerMenu{
	background-image: url('../images/menu.png');
	width: 50px;
	height: 50px;
	margin: 18px;
	float: right;
}

header {
	text-align: center;
	margin-top: 50px;
}

/* home */
header h1 {
	font-size: 30px;
}

#homeMovies {
	width: 90%;
	float: right;
	margin-top: 50px;
}

.movie {
	width: 500px;
	height: 300px;
	border: 2px solid black;
	margin: 10px;
	display: inline-block;
}

.grootMovie {
	border: 2px solid black;
	margin: 10px;
	display: inline-block;
}

.shortInfo{
	background-color: rgba(140,140,140,0.2);
	width: 480px;
	height: 80px;
	margin-top: 35px;
	padding: 10px;
	font-size: 15px;
	border-top: 1px solid black;
}

.knopje{
	width: 50px;
	height: 50px;
	background-image: url('../images/playButton.png');
	margin: auto;
	margin-top: 115px;
	border-radius: 50%;
}

.kruisje{
	background-image: url('../images/kruisje.png');
	display: block;
	width: 50px;
	height: 50px;
	margin: auto;
	margin-top: 115px;
	float: right;
}

/* loader */
.loader {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #282828;
  border: 7px solid #27b3ea;
  margin: 5em auto;
  -webkit-animation: spin 2.5s linear infinite ; 
    animation: spin 2.5s linear infinite ;

  position: relative;
  margin: auto;
  margin-top: 70px;

  display: none;

  /*display: none;*/
}
.loader:before {
  content:"";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #282828;
  border: 5px solid #EC0B8D;
  box-shadow: 0px 0px 0px 7px #282828;
  position: absolute;
  top:3px;
  left: 5px;
}

@-webkit-keyframes spin {
    0%   {
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          }
    100% {
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
          }
}

/* article */
section > article > p{
	font-size: 25px;
	padding: 10px 0;
}

section article{
	width: 90%;
	margin: auto;
	line-height: 2.3em;
}

.graph {
  width: 80%;
  margin: auto;
}

.graph div {
  background-color: red;
}

.cast.animate {
  width: 10%;
  animation: myfirst 5s linear;
}

.cast.animate:active, .cast.animate:hover{
  width: 70%;
}

.right {
  float: right;
}

.circle {
  width: 158px;
  height: 158px;
  margin: 50px auto;
  text-align: center;
  background: #51bbb5;
  overflow: hidden;
  
  border-radius: 50%;
  border: 5px solid #fff;
}

#graph {
  position: relative;
  z-index: 1;
  width: 125px;
  height: 90px;
  margin: 30px auto 0;
}

#graph div {
  position: absolute;
  bottom: 16px;
  width: 9px;
  height: 10px;
  background: #fff;
}

#graph div:nth-child(n+1) {
  height:16px;
  left: 24px;
  
  animation: chartIt 2s 1 ease-in-out 0s;
  -webkit-animation: chartIt 2s 1 ease-in-out 0s;
}

#graph div:nth-child(n+2) {
  height:26px;
  left: 37px;
  
  animation: chartIt 2s 1 ease-in-out .25s;
  -webkit-animation: chartIt 2s 1 ease-in-out .25s;
}

#graph div:nth-child(n+3) {
  height:42px;
  left: 50px;
  
  animation: chartIt 2s 1 ease-in-out .5s;
  -webkit-animation: chartIt 2s 1 ease-in-out .5s;
}

#graph div:nth-child(n+4) {
  height:37px;
  left: 63px;
  
  animation: chartIt 2s 1 ease-in-out .75s;
  -webkit-animation: chartIt 2s 1 ease-in-out .75s;
}

#graph div:nth-child(n+5) {
  height:50px;
  left: 76px;
  
  animation: chartIt 2s 1 ease-in-out 1s;
  -webkit-animation: chartIt 2s 1 ease-in-out 1s;
}

#graph div:nth-child(n+6) {
  height:60px;
  left: 89px;
  
  animation: chartIt 2s 1 ease-in-out 1.25s;
  -webkit-animation: chartIt 2s 1 ease-in-out 1.25s;
}

@keyframes chartIt {
  0% { max-height:60px; }
  50% { max-height:0px; }
  100% { max-height:60px; }
}

@-webkit-keyframes chartIt {
  0% { max-height:60px; }
  50% { max-height:0px; }
  100% { max-height:60px; }
}

#swipeme {
    margin: 40px auto 0;
    border: 3px solid #000;
    width: 64%;
    height: 200px;
    line-height: 200px;
    background: #888;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

footer {
  margin-left: 40%;
}

.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }

.swipe.groot {
  width: 400px;
}

.swipe.klein {
  width: 200px;
}