.box-shadow, body #mainHeader, body #mainContent #starting button, body #mainContent #loginForm #loginButton, body #mainContent #callToActionSection article, body #mainContent #detailUseSection, body #mainContent #detailUseSection #detailDisplays ul li, body #mainContent #goalPriceSection article, body #mainContent #bespaarTips ul li, body #mainContent #readingsSection ul li, body #mainContent #betalingen, body #mainContent #betalingenDetail section, body #mainContent #postsSection #posts a .post {
  -webkit-box-shadow: 0 0 0.5em 0 #a6a6a6;
  -moz-box-shadow: 0 0 0.5em 0 #a6a6a6;
  box-shadow: 0 0 0.5em 0 #a6a6a6; }

.blur {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px); }

@-webkit-keyframes showNav {
  0% {
    left: 0%; }
  90% {
    left: 26%; }
  100% {
    left: 25%; } }
@-moz-keyframes showNav {
  0% {
    left: 0%; }
  90% {
    left: 26%; }
  100% {
    left: 25%; } }
@-o-keyframes showNav {
  0% {
    left: 0%; }
  90% {
    left: 26%; }
  100% {
    left: 25%; } }
@keyframes showNav {
  0% {
    left: 0%; }
  90% {
    left: 26%; }
  100% {
    left: 25%; } }
@-webkit-keyframes hideNav {
  0% {
    left: 25%; }
  100% {
    left: 0%; } }
@-moz-keyframes hideNav {
  0% {
    left: 25%; }
  100% {
    left: 0%; } }
@-o-keyframes hideNav {
  0% {
    left: 25%; }
  100% {
    left: 0%; } }
@keyframes hideNav {
  0% {
    left: 25%; }
  100% {
    left: 0%; } }
@-webkit-keyframes viewDetail {
  0% {
    bottom: -69.5%; }
  90% {
    bottom: 12%; }
  100% {
    bottom: 10%; } }
@-moz-keyframes viewDetail {
  0% {
    bottom: -69.5%; }
  90% {
    bottom: 12%; }
  100% {
    bottom: 10%; } }
@-o-keyframes viewDetail {
  0% {
    bottom: -69.5%; }
  90% {
    bottom: 12%; }
  100% {
    bottom: 10%; } }
@keyframes viewDetail {
  0% {
    bottom: -69.5%; }
  90% {
    bottom: 12%; }
  100% {
    bottom: 10%; } }
@-webkit-keyframes hideDetail {
  0% {
    bottom: 10%; }
  100% {
    bottom: -69.5%; } }
@-moz-keyframes hideDetail {
  0% {
    bottom: 10%; }
  100% {
    bottom: -69.5%; } }
@-o-keyframes hideDetail {
  0% {
    bottom: 10%; }
  100% {
    bottom: -69.5%; } }
@keyframes hideDetail {
  0% {
    bottom: 10%; }
  100% {
    bottom: -69.5%; } }
@-webkit-keyframes newTip {
  0% {
    top: -50%; }
  90% {
    top: 10%; }
  100% {
    top: 9%; } }
@-moz-keyframes newTip {
  0% {
    top: -50%; }
  90% {
    top: 10%; }
  100% {
    top: 9%; } }
@-o-keyframes newTip {
  0% {
    top: -50%; }
  90% {
    top: 10%; }
  100% {
    top: 9%; } }
@keyframes newTip {
  0% {
    top: -50%; }
  90% {
    top: 10%; }
  100% {
    top: 9%; } }
@-webkit-keyframes darkBackGround {
  0% {
    background-color: rgba(0, 0, 0, 0.1); }
  100% {
    background-color: rgba(0, 0, 0, 0.75); } }
@-moz-keyframes darkBackGround {
  0% {
    background-color: rgba(0, 0, 0, 0.1); }
  100% {
    background-color: rgba(0, 0, 0, 0.75); } }
@-o-keyframes darkBackGround {
  0% {
    background-color: rgba(0, 0, 0, 0.1); }
  100% {
    background-color: rgba(0, 0, 0, 0.75); } }
@keyframes darkBackGround {
  0% {
    background-color: rgba(0, 0, 0, 0.1); }
  100% {
    background-color: rgba(0, 0, 0, 0.75); } }
* {
  padding: 0;
  margin: 0;
  font-size: 1em;
  line-height: 1.625em;
  letter-spacing: 0.0625em;
  font-family: helvetica;
  color: black; }

body #mainHeader {
  left: 0%;
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: white;
  height: 4.4em; }
  body #mainHeader #navButton {
    width: 1em;
    margin: .087em 0 0 .55em;
    font-size: 2.5em; }
    body #mainHeader #navButton i {
      color: #009adf; }
  body #mainHeader.activeNav {
    -webkit-animation: showNav .7s 1;
    -moz-animation: showNav .7s 1;
    -o-animation: showNav .7s 1;
    animation: showNav .7s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  body #mainHeader.inActiveNav {
    -webkit-animation: hideNav .7s 1;
    -moz-animation: hideNav .7s 1;
    -o-animation: hideNav .7s 1;
    animation: hideNav .7s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  body #mainHeader #logo {
    position: absolute;
    left: 6%;
    top: .8em;
    background-image: url("../images/logo.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat; }
body #newTip {
  border-radius: 50%;
  float: right;
  background-color: #00a6e9;
  border: none;
  padding: 0 .5em 0 .5em;
  margin: .4em 1em 0 0;
  z-index: 3;
  position: fixed;
  right: 0; }
  body #newTip i {
    font-size: 1.5em;
    text-decoration: none;
    margin: .2em 0 0 .05em;
    color: white; }
body #popUpScreen {
  display: none; }
  body #popUpScreen.active {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    -webkit-animation: darkBackGround .7s 1;
    -moz-animation: darkBackGround .7s 1;
    -o-animation: darkBackGround .7s 1;
    animation: darkBackGround .7s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
    body #popUpScreen.active #popUpVisableScreen {
      background-color: white;
      width: 70%;
      position: fixed;
      top: -50%;
      left: 11%;
      border: 1px solid black;
      padding: 2em;
      -webkit-animation: newTip .7s 1;
      -moz-animation: newTip .7s 1;
      -o-animation: newTip .7s 1;
      animation: newTip .7s 1;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
      body #popUpScreen.active #popUpVisableScreen #closePopUpScreen {
        border: none;
        background: none;
        float: right; }
        body #popUpScreen.active #popUpVisableScreen #closePopUpScreen i {
          font-size: 2em;
          position: absolute;
          top: .3em;
          right: .2em; }
      body #popUpScreen.active #popUpVisableScreen h1 {
        font-size: 2em; }
      body #popUpScreen.active #popUpVisableScreen form {
        margin: 1em 0 0 0; }
        body #popUpScreen.active #popUpVisableScreen form input[type="text"], body #popUpScreen.active #popUpVisableScreen form input[type="number"], body #popUpScreen.active #popUpVisableScreen form textarea {
          width: 100%;
          display: inherit;
          height: 3em;
          padding: 0 0 0 1em;
          margin: 0 0 1.5em 0; }
        body #popUpScreen.active #popUpVisableScreen form textarea {
          height: 25vh;
          padding: .5em 0 0 1em; }
        body #popUpScreen.active #popUpVisableScreen form #addTip, body #popUpScreen.active #popUpVisableScreen form #addRead {
          min-width: 28.5%;
          float: right;
          background-color: #009adf;
          border: none;
          color: white;
          font-size: 1.2em;
          height: 3em;
          margin-top: 2em;
          padding: 0 1em 0 1em; }
        body #popUpScreen.active #popUpVisableScreen form a {
          padding: 0 27% 2em 27%;
          float: right;
          font-weight: bold; }
body #mainContent {
  top: 3.2em;
  width: 100%;
  left: 0%;
  min-height: 50px;
  position: absolute;
  z-index: 2;
  min-height: 93.4%; }
  body #mainContent #background {
    background-image: url("../images/background.png");
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; }
  body #mainContent.activeNav {
    -webkit-animation: showNav .7s 1;
    -moz-animation: showNav .7s 1;
    -o-animation: showNav .7s 1;
    animation: showNav .7s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
    body #mainContent.activeNav #background {
      left: 0%; }
  body #mainContent.inActiveNav {
    -webkit-animation: hideNav .7s 1;
    -moz-animation: hideNav .7s 1;
    -o-animation: hideNav .7s 1;
    animation: hideNav .7s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  body #mainContent #starting {
    margin: 3em 0 0 5em; }
    body #mainContent #starting span {
      color: #718a00;
      font-weight: bold; }
    body #mainContent #starting article {
      max-width: 60%;
      margin: 0 0 5em 0; }
      body #mainContent #starting article h1 {
        color: #718a00;
        font-weight: bold;
        font-size: 1.2em; }
      body #mainContent #starting article ul li {
        display: inline-block;
        height: 3em;
        background-color: #009adf;
        line-height: 3em;
        padding: 0 1em 0 1em;
        margin: 0 1em 0 0;
        color: white;
        font-weight: bold;
        text-align: center; }
        body #mainContent #starting article ul li.active {
          background-color: #a3c700; }
    body #mainContent #starting button {
      display: inherit;
      background-color: #009adf;
      border: none;
      color: white;
      font-size: 1.2em;
      height: 3em;
      padding: 0 .5em 0 .5em;
      margin: 0 1em 0 0;
      width: 17em;
      margin: 1em 0 1em 0;
      border-radius: .7em .7em .7em 0; }
      body #mainContent #starting button.steps {
        float: right;
        bottom: 2em;
        right: 3em;
        position: absolute; }
    body #mainContent #starting.stap1 {
      margin-top: 25em; }
    body #mainContent #starting.stap3 article:not(:first-of-type) {
      display: inline-block;
      width: 45%; }
    body #mainContent #starting.stap3 ul li {
      display: block;
      width: 8em;
      margin: .5em 0 .5em; }
    body #mainContent #starting.stap4 article em {
      font-weight: bold;
      font-style: normal;
      display: inline-block; }
    body #mainContent #starting.stap4 article input {
      display: block;
      height: 2em;
      width: 16em; }
  body #mainContent #loginForm legend {
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: #0070a2;
    margin: 2em 0 1em 0; }
    body #mainContent #loginForm legend span {
      padding: 1em 0 0 0;
      font-size: 0.4em;
      display: inline-block;
      font-weight: 100;
      width: 59%; }
  body #mainContent #loginForm input {
    display: inherit;
    width: 45%;
    height: 3em;
    margin: auto;
    padding: 0 0 0 1em;
    margin-bottom: 1.5em;
    border: 0.1em solid #f3f3f3; }
  body #mainContent #loginForm #loginButton {
    width: 46.5%;
    margin: auto;
    display: inherit;
    background-color: #009adf;
    border: none;
    color: white;
    font-size: 1.2em;
    height: 3em;
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: .7em .7em .7em 0; }
  body #mainContent #loginForm a {
    padding: 0 27% 2em 27%;
    float: right;
    font-weight: bold; }
  body #mainContent #indexSection #donut {
    width: 29em;
    height: 29em;
    margin: 6em 0 0 4em; }
  body #mainContent #indexSection path.color0 {
    fill: #a3c700; }
  body #mainContent #indexSection path.color1 {
    fill: #f8f8f8; }
  body #mainContent #indexSection img {
    position: absolute;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    top: 9.3em;
    left: 7.3em;
    z-index: -1;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px); }
  body #mainContent #indexSection text {
    font-size: 1.8em;
    fill: #fff; }
  body #mainContent #indexSection #saving {
    position: absolute;
    margin: 26em 0 0 6.5em;
    text-align: center; }
    body #mainContent #indexSection #saving span {
      font-weight: bold;
      font-size: 1em; }
    body #mainContent #indexSection #saving #euroSaving {
      font-size: 2em;
      font-weight: bold; }
  body #mainContent #callToActionSection {
    width: 46%;
    right: 2em;
    top: 4em;
    position: absolute; }
    body #mainContent #callToActionSection article {
      background-color: #f3f3f3;
      margin: 0 0 1em 0;
      padding: 0 0 1em 0; }
      body #mainContent #callToActionSection article p {
        font-size: 1.2em;
        padding: 1em; }
        body #mainContent #callToActionSection article p span {
          color: #718a00;
          font-weight: bold; }
        body #mainContent #callToActionSection article p i {
          color: #009adf; }
        body #mainContent #callToActionSection article p em {
          font-style: normal;
          font-weight: bold; }
      body #mainContent #callToActionSection article ul {
        text-align: center; }
        body #mainContent #callToActionSection article ul li {
          font-size: 1.5em;
          display: inline-block;
          max-width: 30%; }
          body #mainContent #callToActionSection article ul li span {
            font-weight: bold;
            color: #718a00;
            width: 100%; }
      body #mainContent #callToActionSection article button {
        background-color: #009adf;
        color: white;
        border: none;
        font-weight: bold;
        height: 3em;
        padding: 0 1em 0 1em;
        margin: 0em 0 1em 1em;
        border-radius: .7em .7em .7em 0; }
  body #mainContent #detailUseSection {
    position: fixed;
    width: 100%;
    background-color: #009adf;
    height: 78.8%;
    bottom: -69.5%; }
    body #mainContent #detailUseSection.viewDetail {
      -webkit-animation: viewDetail .7s 1;
      -moz-animation: viewDetail .7s 1;
      -o-animation: viewDetail .7s 1;
      animation: viewDetail .7s 1;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    body #mainContent #detailUseSection.hideDetail {
      -webkit-animation: hideDetail .7s 1;
      -moz-animation: hideDetail .7s 1;
      -o-animation: hideDetail .7s 1;
      animation: hideDetail .7s 1;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    body #mainContent #detailUseSection #showDetailButton {
      text-align: center;
      color: white;
      padding: 1.5em 0 1.5em 0; }
      body #mainContent #detailUseSection #showDetailButton i {
        color: white; }
    body #mainContent #detailUseSection #detailDisplays {
      height: 41em;
      background-color: #ededed; }
      body #mainContent #detailUseSection #detailDisplays ul {
        text-align: center;
        padding: 3em 0 0 0; }
        body #mainContent #detailUseSection #detailDisplays ul li {
          display: inline-block;
          width: 29%;
          background-color: white;
          min-height: 30em;
          margin: 0 1em 0 1em; }
          body #mainContent #detailUseSection #detailDisplays ul li i {
            font-size: 3.5em;
            margin: .7em 0 0 0; }
          body #mainContent #detailUseSection #detailDisplays ul li h1 {
            font-size: 2em;
            font-weight: 200; }
          body #mainContent #detailUseSection #detailDisplays ul li .expense {
            font-size: 3em;
            font-weight: bold;
            margin: .6em 0 0 0; }
          body #mainContent #detailUseSection #detailDisplays ul li .use {
            font-weight: bold;
            margin: 0.5em 0 0 0; }
          body #mainContent #detailUseSection #detailDisplays ul li .percent {
            margin: 5em 0 0 0;
            border-top: 1px solid #f3f3f3;
            padding: 1.2em 0 0 .5em;
            font-size: 1em;
            font-weight: bold; }
            body #mainContent #detailUseSection #detailDisplays ul li .percent span {
              width: 80%;
              float: left; }
            body #mainContent #detailUseSection #detailDisplays ul li .percent i {
              font-size: 2.5em;
              margin: .2em 0 0 0;
              width: 20%; }
  body #mainContent #goalSection {
    position: absolute;
    top: 14em;
    left: 10em; }
    body #mainContent #goalSection .fileUpload span {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      border: 0.5em dashed #009adf;
      background-color: white;
      position: absolute; }
      body #mainContent #goalSection .fileUpload span i {
        font-size: 7em;
        position: relative;
        top: .9em;
        left: 1em;
        color: #009adf; }
    body #mainContent #goalSection .fileUpload input.upload {
      position: absolute;
      width: 300px;
      height: 300px;
      top: 0;
      left: 0;
      opacity: 0;
      filter: alpha(opacity=0); }
    body #mainContent #goalSection img {
      width: 300px;
      height: 300px;
      border-radius: 50%; }
  body #mainContent #goalPriceSection {
    width: 46%;
    right: 2em;
    top: 12em;
    position: absolute; }
    body #mainContent #goalPriceSection article {
      background-color: #f3f3f3; }
      body #mainContent #goalPriceSection article p {
        font-size: 1.2em;
        padding: 1em; }
        body #mainContent #goalPriceSection article p span {
          color: #718a00;
          font-weight: bold; }
      body #mainContent #goalPriceSection article form {
        margin: 0 0 0 1.3em; }
        body #mainContent #goalPriceSection article form input {
          width: 70%;
          margin: 0 0 .5em 0;
          font-size: .9em;
          padding: .3em 0 .3em .6em; }
        body #mainContent #goalPriceSection article form input:last-of-type {
          margin: 0 0 2em 0; }
        body #mainContent #goalPriceSection article form button {
          background-color: #009adf;
          color: white;
          border: none;
          font-weight: bold;
          height: 3em;
          padding: 0 1em 0 1em;
          margin: 0 0 1em 0;
          border-radius: .7em .7em .7em 0; }
  body #mainContent #bespaarTips ul li {
    display: inline-block;
    width: 20%;
    height: 22em;
    margin: 4em 1% 0 1%;
    padding: .5em 1em .5em 1em;
    background-color: #f3f3f3;
    vertical-align: top;
    position: relative; }
    body #mainContent #bespaarTips ul li h1 {
      color: #718a00;
      text-align: center;
      font-size: 1.3em; }
    body #mainContent #bespaarTips ul li p {
      padding: 1em 0 1em 0; }
      body #mainContent #bespaarTips ul li p:nth-of-type(2) {
        position: absolute;
        top: 8em; }
    body #mainContent #bespaarTips ul li span {
      display: block;
      color: #718a00;
      font-weight: bold; }
    body #mainContent #bespaarTips ul li #saving {
      position: absolute;
      bottom: 1em;
      font-weight: bold;
      font-size: 1.2em; }
      body #mainContent #bespaarTips ul li #saving i {
        color: #009adf;
        padding: 0 .5em 0 0; }
  body #mainContent #readingsSection ul {
    text-align: center;
    padding: 3em 0 0 0; }
    body #mainContent #readingsSection ul li {
      display: inline-block;
      width: 29%;
      background-color: white;
      min-height: 30em;
      margin: 0 1em 0 1em; }
      body #mainContent #readingsSection ul li header {
        height: 1.75em;
        width: 100%; }
        body #mainContent #readingsSection ul li header.energy {
          background-color: #f5d76e; }
        body #mainContent #readingsSection ul li header.water {
          background-color: #4b77be; }
        body #mainContent #readingsSection ul li header.gas {
          background-color: #26a65b; }
      body #mainContent #readingsSection ul li i {
        font-size: 3.5em;
        margin: .7em 0 0 0; }
      body #mainContent #readingsSection ul li h1 {
        font-size: 2em;
        font-weight: 200; }
      body #mainContent #readingsSection ul li .current {
        font-size: 2.5em;
        font-weight: bold;
        margin: 2em 0 0 0; }
      body #mainContent #readingsSection ul li .newReading button {
        border: none;
        background-color: #009adf;
        height: 3.5em;
        border-top: 1px solid #f3f3f3;
        width: 100%;
        margin: 6.5em 0 0 0; }
        body #mainContent #readingsSection ul li .newReading button i {
          margin: 0;
          font-size: 1.8em;
          color: white; }
  body #mainContent #headerBalk {
    margin: 3.5em 0 0 0;
    height: 4em;
    width: 100%;
    background-color: #a3c700; }
    body #mainContent #headerBalk #plainText {
      color: white;
      font-size: 1.5em;
      font-weight: bold;
      padding: 0.5em 0 0 1em; }
    body #mainContent #headerBalk ul {
      text-align: center; }
      body #mainContent #headerBalk ul#displayToggle li {
        display: inline-block;
        padding: 0 1em 0 1em; }
        body #mainContent #headerBalk ul#displayToggle li a {
          padding: 1.9em 1em 1.1em 1em; }
          body #mainContent #headerBalk ul#displayToggle li a.active {
            background-color: #ecff94; }
            body #mainContent #headerBalk ul#displayToggle li a.active i {
              color: #a3c700; }
          body #mainContent #headerBalk ul#displayToggle li a i {
            padding: .5em 1em .5em 1em;
            font-size: 2em;
            color: white; }
      body #mainContent #headerBalk ul#forumToggle li {
        display: inline-block;
        padding: 1.3em 0 0 0; }
        body #mainContent #headerBalk ul#forumToggle li a {
          padding: 1.4em 1.9em .9em 1.9em;
          text-decoration: none;
          font-weight: bold;
          color: white;
          font-size: 1.2em; }
          body #mainContent #headerBalk ul#forumToggle li a.active {
            background-color: #ecff94;
            color: #a3c700; }
          body #mainContent #headerBalk ul#forumToggle li a span {
            color: white;
            font-weight: 600;
            position: absolute;
            top: 2.3em;
            background-color: #00a6e9;
            border-radius: 50%;
            text-align: center;
            width: 2em;
            height: 2em;
            line-height: 2.1em;
            font-size: 0.7em; }
  body #mainContent #betalingen {
    float: right;
    height: 45.8em;
    background-color: #f3f3f3;
    width: 15.5em;
    padding: 1em 0 0 0;
    overflow-y: scroll; }
    body #mainContent #betalingen ul li {
      list-style: none;
      background-color: #009adf;
      padding: 1.2em 0 .5em 1.5em;
      color: white;
      border-bottom: 4px solid white;
      position: relative; }
      body #mainContent #betalingen ul li.active {
        background-color: #a3c700; }
      body #mainContent #betalingen ul li:first-of-type {
        border-top: 7px solid white; }
      body #mainContent #betalingen ul li h1 {
        color: white; }
      body #mainContent #betalingen ul li span {
        font-size: 1.7em;
        color: white;
        font-weight: bold; }
  body #mainContent #betalingenDetail {
    width: 60%;
    left: 10%;
    position: relative;
    top: 5em; }
    body #mainContent #betalingenDetail section {
      width: 100%;
      padding: 1em 1em 1em 1em;
      margin: 0 0 2.5em 0;
      background-color: #f3f3f3; }
      body #mainContent #betalingenDetail section h1 {
        color: #718a00; }
      body #mainContent #betalingenDetail section ul {
        margin: 1em 0 0 0; }
        body #mainContent #betalingenDetail section ul li {
          list-style: none;
          display: inline-block;
          width: 44%; }
          body #mainContent #betalingenDetail section ul li span {
            font-weight: bold;
            display: block;
            vertical-align: top; }
          body #mainContent #betalingenDetail section ul li #usage, body #mainContent #betalingenDetail section ul li #usageCompare, body #mainContent #betalingenDetail section ul li .usageSaving {
            position: relative;
            font-size: 0.7em;
            margin: 2.5em 0 0 1.5em;
            width: 10em;
            float: left;
            min-height: 6em; }
            body #mainContent #betalingenDetail section ul li #usage span, body #mainContent #betalingenDetail section ul li #usageCompare span, body #mainContent #betalingenDetail section ul li .usageSaving span {
              position: absolute;
              bottom: 0;
              font-size: 1.3em; }
          body #mainContent #betalingenDetail section ul li #moneySaved, body #mainContent #betalingenDetail section ul li #usagePercentageCompare {
            margin: 1.5em 0 0 0;
            float: left; }
            body #mainContent #betalingenDetail section ul li #moneySaved i, body #mainContent #betalingenDetail section ul li #usagePercentageCompare i {
              font-size: 5.5em; }
              body #mainContent #betalingenDetail section ul li #moneySaved i.fa-pie-chart, body #mainContent #betalingenDetail section ul li #usagePercentageCompare i.fa-pie-chart {
                color: grey; }
              body #mainContent #betalingenDetail section ul li #moneySaved i.fa-money, body #mainContent #betalingenDetail section ul li #usagePercentageCompare i.fa-money {
                color: #fcb828;
                margin: 0 0 0 .3em; }
  body #mainContent #postsSection #posts {
    -webkit-column-count: 3;
    -webkit-column-gap: 1em;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 1em;
    -moz-column-fill: auto;
    column-count: 2;
    column-gap: 1em;
    column-fill: auto;
    width: 98%;
    margin: auto;
    margin-top: 1.5em;
    padding-bottom: 3em; }
    body #mainContent #postsSection #posts a {
      text-decoration: none; }
      body #mainContent #postsSection #posts a .post {
        background-color: white;
        margin: 0 2px 1em;
        padding: 0 0 1em 0;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        column-break-inside: avoid;
        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease; }
        body #mainContent #postsSection #posts a .post header {
          height: 1.75em;
          position: inherit;
          width: 100%; }
          body #mainContent #postsSection #posts a .post header.energy {
            background-color: #f5d76e; }
          body #mainContent #postsSection #posts a .post header.water {
            background-color: #4b77be; }
          body #mainContent #postsSection #posts a .post header.gas {
            background-color: #26a65b; }
        body #mainContent #postsSection #posts a .post article {
          position: inherit; }
          body #mainContent #postsSection #posts a .post article h1 {
            padding: 3% 5% 0 5%;
            font-size: 1.5em; }
          body #mainContent #postsSection #posts a .post article p {
            padding: 3% 5% 0 5%;
            margin: 1em 0 1em 0; }
            body #mainContent #postsSection #posts a .post article p span {
              color: #009adf; }
          body #mainContent #postsSection #posts a .post article .postedBy {
            padding: .7em 0 .7em 0;
            border-top: 1px solid #f3f3f3; }
            body #mainContent #postsSection #posts a .post article .postedBy img {
              width: 4em;
              height: 4em;
              border-radius: 50%;
              float: left;
              margin: 0 1em 0 1em;
              border: 0.2em solid #a3c700; }
            body #mainContent #postsSection #posts a .post article .postedBy time {
              font-size: 0.8em;
              color: #f8f8f8; }
body nav {
  background-color: black;
  height: 100%;
  position: fixed;
  width: 26%;
  z-index: 1; }
  body nav #whoIs {
    width: 100%;
    height: 2.4em;
    background-color: #484848;
    color: white;
    padding: 1em 0 0 3em;
    font-size: 1.3em; }
  body nav ul {
    padding: 0 0 3em 0; }
    body nav ul li {
      height: 3em;
      padding: 1em 0 0 0; }
      body nav ul li.activeNavItem {
        background-color: #13b6ff; }
      body nav ul li a {
        font-size: 1.1em;
        color: white;
        text-decoration: none;
        margin: 0 0 0 .5em;
        padding: 1.4em 3.5em 1.5em 0; }
        body nav ul li a i {
          color: white;
          font-size: 1.5em;
          margin: .5em 1.5em 0 0; }
        body nav ul li a span {
          border-radius: 50%;
          background-color: #FF1212;
          width: 1.5em;
          height: 1.5em;
          position: absolute;
          text-align: center;
          line-height: 1.5em;
          font-size: 0.9em;
          color: white;
          font-weight: bold;
          margin: -.4em 0 0 0; }

/*# sourceMappingURL=main.css.map */
