$fontSize: 1em;
$lineHeigt: 1.625em;
$letterSpacing: 0.0625em;

$menuBackgroundColor: rgb(0, 0, 0);
$submenuBackgroundColor: rgb(242, 242, 242);

$grey: rgb(191, 191, 191);
$lightGrey: lighten($submenuBackgroundColor, 2%);
$whoIs: rgb(72, 72, 72);
$activeNavItem: rgb(71, 188, 231);

$energyMainColor: rgb(232, 175, 98);
$waterMainColor: rgb(52, 165, 230);
$gasMainColor: rgb(189, 228, 191);

$piggyBankColor: rgb(252, 184, 40);
$usagePercentageCompareColor: grey;

// animations
@mixin animation($animate...) {
    $max: length($animate);
    $animations: "";
    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};
        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation: $animations;
    -o-animation: $animations;
    animation: $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

//Animations
@include keyframes(showNav) {
    0% { left: 0%; }
    100% { left: 25%; }
}

@include keyframes(hideNav) {
    0% { left: 25%; }
    100% { left: 0%; }
}

* {
    padding: 0;
    margin: 0;
    font-size: $fontSize;
    line-height: $lineHeigt;
    letter-spacing: $letterSpacing;
    font-family: helvetica;
}

body {
    // Header
    header {
        left: 0%;
        width: 100%;
        position: fixed;
        z-index: 3;
        background-color: white;
        border-bottom: .2em solid rgb(223, 223, 223);
        #navButton {
            margin: 0;
            font-size: $fontSize * 2;
            color: $grey;
        }
        &.activeNav {
            @include animation("showNav .7s 1");
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        &.inActiveNav {
            @include animation("hideNav .7s 1");
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        #appName {
            position: absolute;
            left: 46%;
            top: 1em;
        }
    } // End of header
    // Main
    main {
        top: 3.2em;
        width: 100%;
        left: 0%;
        background-color: white;
        min-height: 50px;
        position: absolute;
        z-index: 2;
        min-height: 93.4%;
        &.activeNav {
            @include animation("showNav .7s 1");
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        &.inActiveNav {
            @include animation("hideNav .7s 1");
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        // Login page
        #loginForm, #forgotForm{
            legend {
                font-size: $fontSize * 2;
                font-weight: bold;
                width: 100%;
                text-align: center;
                margin: 2em 0 1em 0;
                span {
                    padding: 1em 0 0 0;
                    font-size: $fontSize * .4;
                    display: inline-block;
                    font-weight: 100;
                    width: 59%
                }
            }
            input[type="text"], input[type="password"] {
                display: inherit;
                width: 45%;
                height: 3em;
                margin: auto;
                padding: 0 0 0 1em;
                border: .1em solid $grey;
            }
            #loginButton, #forgotButton {
                width: 46.5%;
                margin: auto;
                display: inherit;
                background-color: rgb(158, 158, 158);
                border: none;
                color: white;
                font-size: $fontSize * 1.2;
                height: 3em;
                margin-top: 3em;
                margin-bottom: 3em;
            }
            a {
                padding: 0 27% 2em 27%;
                float: right;
                font-weight: bold;
            }
        } // End login page

        // Data display
        #viewToggle {
            height: 4em;
            width: 100%;
            background-color: $submenuBackgroundColor;
            border-bottom: .2em solid rgb(223, 223, 223);
            #newTip {
                float: right;
                background-color: #40D8FF;
                border: none;
                font-weight: 600;
                padding: 0.7em 1em;
                margin: .6em .6em 0 0;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
            ul{
                text-align: center;
                &#mainToggle {
                    li {
                        font-size: $fontSize * 1.5;
                        display: inline-block;
                        a {
                            padding: 0 2.9em .65em 2.9em;
                            color: black;
                            &.active {
                                border-bottom: .2em solid black;
                            }
                            i {
                                padding: .9em 0 0 0;
                            }
                        }    
                    }
                }
                &#forumToggle {
                    width: 50%;
                    margin: auto;
                    li {
                        font-size: $fontSize * 0.7;
                        display: inline-block;
                        padding: 2em 0 0 0;
                        a {
                            padding: 0 2.9em 2.35em 2.9em;
                            color: black;
                            text-decoration: none;
                            &.active {
                                border-bottom: .2em solid black;
                            }
                            span {
                                color: green;
                                font-weight: 500;
                                position: absolute;
                            }
                        }
                    }
                }
            }
        }
        #optionsToggle {
            margin: 3em 0 0 2em;
            float: left;
            width: 50%;
            ul {
                li {
                    display: inline-block;
                    list-style: none;
                    margin-right: -.5em;
                    a {
                        text-decoration: none;
                        color: black;
                        border: .15em solid rgb(175, 175, 175);
                        padding: .7em 1em;
                        background-color: rgb(225, 228, 226);
                        background-color: rgb(225, 228, 226);
                        &.active {
                            background-color: white;
                        }
                    }
                }
            }
            #dateToggle {
                float: left;
            }
            #displayToggle {
                float: right;
            }
        }
        #dataDisplay {
            position: absolute;
            margin: 8em 0 0 2em;
            height: 24em;
            width: 32em;
            #maxUse, #avgUse {
                color: $grey;
                border-bottom: .2em solid $grey;
                text-align: right;
                position: absolute;
                width: 106.5%;
                font-size: $fontSize * .6;
            }
            #maxUse {
                z-index: 1;
                padding: 3em 0 0 0;
            }
            #avgUse {
                padding:  10em 0 0 0;
                z-index: 2;
            }
            #dates {
                position: relative;
                height: 100%;
                ul {
                    position: absolute;
                    bottom: 0;
                    z-index: -1;
                    li {
                        display: inline-block;
                        text-decoration: none;
                        text-align: center;
                        vertical-align: bottom;
                        width: 4.67em;
                        margin: 0 -.4em 0 0;
                        span {
                        }
                    }
                }
                .usages {
                    width: 100%;
                    height: 100%;
                    .energyUse {
                        background-color: $energyMainColor;
                    }
                    .waterUse {
                        background-color: $waterMainColor;
                    }
                    .gasUse {
                        background-color: $gasMainColor;
                    }
                }
            }
        }
        #detailDisplays {
            width: 40%;
            float: right;
            margin: 2.4em 2em 0 0;
            ul {
                li {
                    background-color: rgb(244, 248, 245);
                    height: 9em;
                    list-style: none;
                    margin: 0 0 1em 0;
                    .circleDetail {
                        float: left;
                        width: 6em;
                        height: 6em;
                        background-color: white;
                        border-radius: 50%;
                        margin: 1em 0 0 1em;
                        text-align: center;
                        &#circelEnergy {
                            border: 5px solid $energyMainColor;
                        }
                        &#circelWater {
                            border: 5px solid $waterMainColor;
                        }
                        &#circelGas {
                            border: 5px solid $gasMainColor;
                        }
                        i {
                            font-size: $fontSize * 2;
                            margin: 1em 0 0 0;
                        }
                    }
                    .usage {
                        text-align: center;
                        float: right;
                        margin: 1em 1em 0 0;
                        width: 63%;
                        .realUse {
                            font-weight: bold;
                            float: left;
                            width: 49%;
                            em {
                                font-style: normal;
                                &#realEnergy{
                                    color: $energyMainColor;
                                }
                                &#realWater{
                                    color: $waterMainColor;
                                }
                                &#realGas{
                                    color: $gasMainColor;
                                }
                            }
                            span {
                                font-size: $fontSize * 0.7;
                                color: $grey;
                                font-weight: normal;
                            }
                        }
                        .toEuros {
                            font-weight: bold;
                            float: right;
                            width: 49%;
                            border-left: 1px solid $grey;
                            span {
                                font-size: $fontSize * 0.7;
                                color: $grey;
                                font-weight: normal;
                            }
                        }
                        .percentage {
                            clear: both;
                            width: 100%;
                            border-top: 1px solid $grey;
                            padding: 1em 0 0 0;
                        }
                    }
                }
            }
        } // End all data display

        // Detail data display
        #detailDataDisplay {
            width: 100%;
            background-color: $lightGrey;
            h1 {
                padding: 2em 1em 1em 0;
                width: 95%;
                margin: auto;
                border-bottom: .1em solid $grey;
                span {
                    font-weight: 100;
                    padding: 0 0 0 1.5em;
                }
            }
            #detailDisplayInfo {
                width: 100%;
                height: 8.5em;
                margin: 0 0 0 .7em;
                ul {
                    margin: 0 0 0 1em;
                    li {
                        display: inline-block;
                        vertical-align: top;
                        .circleDetail {
                            width: 6em;
                            height: 6em;
                            background-color: white;
                            border-radius: 50%;
                            margin: 1em 0 0 0;
                            float: left;
                            text-align: center;
                            &#circelEnergy {
                                border: 5px solid $energyMainColor;
                            }
                            &#circelWater {
                                border: 5px solid $waterMainColor;
                            }
                            &#circelGas {
                                border: 5px solid $gasMainColor;
                            }
                            i {
                                font-size: $fontSize * 2;
                                margin: 1em 0 0 0;
                            }
                        }
                        #usage, #usageCompare, .usageSaving{
                            position: relative;
                            font-size: $fontSize * 0.7;
                            margin: 2.5em 0 0 1.5em;
                            width: 10em;
                            float: left;
                            min-height: 6em;
                            span {
                                position: absolute;
                                bottom: 0;
                                font-size: $fontSize * 1.3;
                            }
                        }
                        #moneySaved, #usagePercentageCompare {
                            margin: 1.5em 0 0 0;
                            float: left;
                            i {
                                font-size: $fontSize * 5.5;
                                &.fa-pie-chart {
                                    color: $usagePercentageCompareColor;
                                }
                                &.fa-money {
                                    color: $piggyBankColor;
                                    margin: 0 0 0 .3em;
                                }
                                
                            }
                        }
                    }
                }
            }
        } // End detail data display

        // Community posts
        #posts {
            width: 80%;
            margin: auto;
            .post {                
                position: relative;
                margin: 1.5em 0 0 0;
                min-height: 10em;
                background-color: $lightGrey;
                header {
                    min-height: 2em;
                    background-color: $grey;
                    position: inherit;
                    border: none;
                }
                &:last-of-type {
                    margin: 1.5em 0 1.5em 0;
                }
            }
        }
    } // End of main

    // Navigation
    nav {
        background-color: $menuBackgroundColor;
        height: 100%;
        position: fixed;
        width: 25%;
        z-index: 1;
        #whoIs {
            width: 100%;
            height: 2.1em;
            background-color: $whoIs;
            color: white;
            padding: .4em 0 0 1em;
            font-size: $fontSize *1.3;
        }
        ul {
            padding: 0 0 3em 0;
            li {
                height: 3em;
                padding: 1em 0 0 0;
                &.activeNavItem {  
                    background-color: $activeNavItem;
                }
                a {
                    color: white;
                    text-decoration: none;
                    margin: 0 0 0 .5em;
                    padding: 1.4em 3.5em 1.5em 0;
                    i {
                        font-size: $fontSize * 1.5;
                        margin: .5em 1.5em 0 0;
                    }
                }
            }
        }
    } // End navigation
} // End of body