$fontSize:                      1em;
$lineHeigt:                     1.625em;
$letterSpacing:                 0.0625em;

$backgroundColor:               rgb(237, 237, 237);
$menuBackgroundColor:           rgb(0, 0, 0);

$mainColor:                     rgb(163, 199, 0);
$mainColorTint:                 lighten($mainColor, 40%);
$supportColor:                  rgb(0, 166, 233);
$supportColorTint:              lighten($supportColor, 10%);

$grey:                          rgb(204, 204, 204);
$lightGrey:                     lighten($grey, 2%);
$whoIs:                         rgb(72, 72, 72);

$energyMainColor:               rgb(245, 215, 110);
$waterMainColor:                rgb(75, 119, 190);
$gasMainColor:                  rgb(38, 166, 91);

$piggyBankColor:                rgb(252, 184, 40);
$usagePercentageCompareColor:   grey;

$donutSize: 300px;

//extends
.box-shadow {
    -webkit-box-shadow: 0 0 .5em 0 rgb(207, 196, 196);
    -moz-box-shadow: 0 0 .5em 0 rgb(207, 196, 196);
    box-shadow: 0 0 .5em 0 rgb(207, 196, 196);
}

// animations
@mixin animation($animate...) {
    $max: length($animate);
    $animations: "";
    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};
        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation: $animations;
    -o-animation: $animations;
    animation: $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin circle($donutSize) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$donutSize/2});
  top: calc(50% - #{$donutSize/2});
  width: $donutSize;
  height: $donutSize;
}

//Animations
@include keyframes(showNav) {
    0% { left: 0%; }
    90% { left: 26%; }
    100% { left: 25%; }
}

@include keyframes(hideNav) {
    0% { left: 25%; }
    100% { left: 0%; }
}

@include keyframes(viewDetail) {
    0% { bottom: -72.4%; }
    90% { bottom: 2%; }
    100% { bottom: 0; }
}

@include keyframes(hideDetail) {
    0% { bottom: 0; }
    100% { bottom: -72.4%; }
}

* {
    padding: 0;
    margin: 0;
    font-size: $fontSize;
    line-height: $lineHeigt;
    letter-spacing: $letterSpacing;
    font-family: helvetica;
    color: black;
}

body {
    // Header
    #mainHeader {
        @extend .box-shadow;
        left: 0%;
        width: 100%;
        position: fixed;
        z-index: 3;
        background-color: white;
        #navButton {
            margin: 0 0 0 .7em;
            font-size: $fontSize * 2;
            i {
                color: $supportColor;
            }
        }
        &.activeNav {
            @include animation("showNav .7s 1");
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        &.inActiveNav {
            @include animation("hideNav .7s 1");
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        #appName {
            position: absolute;
            left: 46%;
            top: 1em;
        }
    } // End of header
    // Buttons etc.
    #newTip {
        border-radius: 50%;
        float: right;
        background-color: #00a6e9;
        border: none;
        padding: 0 .5em 0 .5em;
        margin: .4em 1em 0 0;
        z-index: 3;
        position: fixed;
        right: 0;
        i {
            font-size: $fontSize * 1.5;
            text-decoration: none;
            margin: .2em 0 0 .05em;
            color: white;
        }
    }
    #newTipScreen {
            display: none;
        &.active {
            display: block;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .75);
            z-index: 3;
            #newTipVisableScreen{
                background-color: white;
                width: 70%;
                position: fixed;
                top: 11%;
                left: 11%;
                border: 1px solid black;
                padding: 2em;
                #closeTipScreen {
                    border: none;
                    background: none;
                    float: right;
                    i {
                        font-size: $fontSize * 2;
                        position: absolute;
                        top: .3em;
                        right: .2em;
                    }
                }
                h1 {
                    font-size: $fontSize * 2;
                }

                #tipForm{
                    margin: 1em 0 0 0;
                    input[type="text"], textarea{
                        width: 100%;
                        display: inherit;
                        height: 3em;
                        padding: 0 0 0 1em;
                        margin: 0 0 1.5em 0;
                    }
                    textarea {
                        height: 25vh;
                        padding: .5em 0 0 1em;
                    }
                    #addTip {
                        width: 28.5%;
                        float: right;
                        background-color: $supportColor;
                        border: none;
                        color: white;
                        font-size: 1.2em;
                        height: 3em;
                        margin-top: 2em;
                    }
                    a {
                        padding: 0 27% 2em 27%;
                        float: right;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    // Main
    #mainContent {
        top: 3.2em;
        width: 100%;
        left: 0%;
        background-color: $backgroundColor;
        min-height: 50px;
        position: absolute;
        z-index: 2;
        min-height: 93.4%;
        &.activeNav {
            @include animation("showNav .7s 1");
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        &.inActiveNav {
            @include animation("hideNav .7s 1");
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        // Login page
        #loginForm, #forgotForm{
            legend {
                font-size: $fontSize * 2;
                font-weight: bold;
                width: 100%;
                text-align: center;
                margin: 2em 0 1em 0;
                span {
                    padding: 1em 0 0 0;
                    font-size: $fontSize * .4;
                    display: inline-block;
                    font-weight: 100;
                    width: 59%
                }
            }
            input[type="text"], input[type="password"] {
                display: inherit;
                width: 45%;
                height: 3em;
                margin: auto;
                padding: 0 0 0 1em;
                border: .1em solid $grey;
            }
            #loginButton, #forgotButton {
                width: 46.5%;
                margin: auto;
                display: inherit;
                background-color: rgb(158, 158, 158);
                border: none;
                color: white;
                font-size: $fontSize * 1.2;
                height: 3em;
                margin-top: 3em;
                margin-bottom: 3em;
            }
            a {
                padding: 0 27% 2em 27%;
                float: right;
                font-weight: bold;
            }
        } // End login page

        //Index
        #indexSection {
            #donut {
              width: 29em;
              height: 29em;
              margin: 6em 0 0 4em;
            }
            path {
                &.color0 {
                    fill: $supportColor;
                }
                &.color1 {
                    fill: $grey;
                }
            }
            img {
                position: absolute;
                border-radius: 50%;
                width: 300px;
                height: 300px;
                top: 9em;
                left: 7.1em;
                z-index: -1;
            }
            text {
                font-size: 4em;
                fill: #000;
            }
            #saving {
                position: absolute;
                margin: 25em 0 0 9em;
                #euroSaving {
                    font-size: $fontSize * 2;;
                    font-weight: bold;    
                }
                span {
                    font-size: $fontSize;
                    margin: 0 0 0 1.8em;
                }
            }
        }
        #callToActionSection {
            width: 46%;
            right: 2em;
            top: 11em;
            position: absolute;
            header {
                @extend .box-shadow;
                background-color: $mainColor;
                margin: 0 0 1em 0;
                padding: .2em 0 .2em 0;
                ul {
                    text-align: center;
                    li {
                        font-size: $fontSize * 1.5;
                        display: inline-block;
                        width: 32%;
                        span {
                            font-weight: bold;
                            display: inline-block;
                            width: 100%;
                        }
                    }
                }
            } 
            article {
                @extend .box-shadow;
                background-color: $mainColor;
                p {
                    font-size: $fontSize * 1.2;
                    padding: 1em;
                    span {
                        font-weight: bold;
                    }
                } 
                button {
                    @extend .box-shadow;
                    background-color: white;
                    color: $supportColor;
                    border: none;
                    font-weight: bold;
                    height: 3em;
                    width: 45%;
                    margin: 1em 0 1em 8em;
                    border-radius: .7em .7em .7em 0;
                }  
            } 
        }
        #detailUseSection {
            @extend .box-shadow;
            position: fixed;
            width: 100%;
            background-color: white;
            height: 76.5%;
            bottom: -72.4%;
            &.viewDetail {
                @include animation("viewDetail .7s 1");
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
            }
            &.hideDetail {
                @include animation("hideDetail .7s 1");
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
            }
            #showDetailButton {
                text-align: center;
                margin: .3em 0 0 0;
            }
            #detailDisplays{
                height: 41em;
                background-color: $backgroundColor;
                ul {
                    text-align: center;
                    padding: 3em 0 0 0;
                    li {
                        @extend .box-shadow;
                        display: inline-block;
                        width: 29%;
                        background-color: white;
                        min-height: 30em;
                        margin: 0 1em 0 1em;
                        a {
                            text-decoration: none;
                            header {
                                height: 1.75em;
                                width: 100%;
                                &.energy {
                                    background-color: $energyMainColor;
                                }
                                &.water {
                                    background-color: $waterMainColor;
                                }
                                &.gas {
                                    background-color: $gasMainColor;
                                }
                            }
                        }
                        i {
                            font-size: 3.5em;
                            margin: .7em 0 0 0;
                        }
                        h1 {
                            font-size: $fontSize * 2;
                            font-weight: 200;
                        }
                        .expense {
                            font-size: $fontSize * 3;
                            font-weight: bold;
                            margin: .6em 0 0 0;
                        }
                        .use {
                            font-weight: bold;
                            margin: 0.5em 0 0 0;
                        }
                        .percent {
                            margin: 5em 0 0 0;
                            border-top: 1px solid $grey;
                            padding: 0.8em 0 0 0;
                            font-size: 1.3em;
                            font-weight: bold;
                            i {
                                font-size: 2.5em;
                                margin: 0;
                                float: right;
                                line-height: .5em;
                                padding: 0 .3em 0 0;
                            }
                        }
                    }
                }
            }    
        }
        //End of index

        // readings
        #readingsSection {
            ul {
                text-align: center;
                padding: 3em 0 0 0;
                li {
                    @extend .box-shadow;
                    display: inline-block;
                    width: 29%;
                    background-color: white;
                    min-height: 30em;
                    margin: 0 1em 0 1em;
                    header {
                        height: 1.75em;
                        width: 100%;
                        &.energy {
                            background-color: $energyMainColor;
                        }
                        &.water {
                            background-color: $waterMainColor;
                        }
                        &.gas {
                            background-color: $gasMainColor;
                        }
                    }
                    i {
                        font-size: 3.5em;
                        margin: .7em 0 0 0;
                    }
                    h1 {
                        font-size: $fontSize * 2;
                        font-weight: 200;
                    }
                    .current {
                        font-size: $fontSize * 2.5;
                        font-weight: bold;
                        margin: 2em 0 0 0;
                    }
                    .newReading {
                        button {
                            border: none;
                            background-color: $supportColor;
                            height: 3.5em;
                            border-top: 1px solid $grey;
                            width: 100%;
                            margin: 6.5em 0 0 0;
                            i {
                                margin: 0;
                                font-size: $fontSize * 1.8;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        // End readings
        #viewToggle {
            margin: 1.5em 0 0 0;
            height: 4em;
            width: 100%;
            background-color: $mainColor;
            ul{
                text-align: center;
                &#forumToggle {
                    width: 70%;
                    margin: auto;
                    li {
                        display: inline-block;
                        padding: 1.3em 0 0 0;
                        a {
                            padding: 1.4em 1.9em .9em 1.9em;
                            text-decoration: none;
                            font-weight: bold;
                            color: white;
                            font-size: 1.2em;
                            &.active {
                                background-color: $mainColorTint;
                                color: $mainColor;
                            }
                            span {
                                color: white;
                                font-weight: 600;
                                position: absolute;
                                top: 2.3em;
                                background-color: #00a6e9;
                                border-radius: 50%;
                                text-align: center;
                                width: 2em;
                                height: 2em;
                                line-height: 2.1em;
                                font-size: $fontSize * .7;
                            }
                        }
                    }
                }
            }
        }
        // Detail data display
        #detailDataDisplay {
            width: 100%;
            background-color: $lightGrey;
            h1 {
                padding: 2em 1em 1em 0;
                width: 95%;
                margin: auto;
                border-bottom: .1em solid $grey;
                span {
                    font-weight: 100;
                    padding: 0 0 0 1.5em;
                }
            }
            #detailDisplayInfo {
                width: 100%;
                height: 8.5em;
                margin: 0 0 0 .7em;
                ul {
                    margin: 0 0 0 1em;
                    li {
                        display: inline-block;
                        vertical-align: top;
                        .circleDetail {
                            width: 6em;
                            height: 6em;
                            background-color: white;
                            border-radius: 50%;
                            margin: 1em 0 0 0;
                            float: left;
                            text-align: center;
                            &#circelEnergy {
                                border: 5px solid $energyMainColor;
                            }
                            &#circelWater {
                                border: 5px solid $waterMainColor;
                            }
                            &#circelGas {
                                border: 5px solid $gasMainColor;
                            }
                            i {
                                font-size: $fontSize * 2;
                                margin: 1em 0 0 .1em;
                            }
                        }
                        #usage, #usageCompare, .usageSaving{
                            position: relative;
                            font-size: $fontSize * 0.7;
                            margin: 2.5em 0 0 1.5em;
                            width: 10em;
                            float: left;
                            min-height: 6em;
                            span {
                                position: absolute;
                                bottom: 0;
                                font-size: $fontSize * 1.3;
                            }
                        }
                        #moneySaved, #usagePercentageCompare {
                            margin: 1.5em 0 0 0;
                            float: left;
                            i {
                                font-size: $fontSize * 5.5;
                                &.fa-pie-chart {
                                    color: $usagePercentageCompareColor;
                                }
                                &.fa-money {
                                    color: $piggyBankColor;
                                    margin: 0 0 0 .3em;
                                }
                                
                            }
                        }
                    }
                }
            }
        } // End detail data display

        // Community posts
        #postsSection {
            #posts {
                -webkit-column-count: 3;
                -webkit-column-gap: 1em;
                -webkit-column-fill: auto;
                -moz-column-count: 3;
                -moz-column-gap: 1em;
                -moz-column-fill: auto;
                column-count: 2;
                column-gap: 1em;
                column-fill: auto;
                width: 98%;
                margin: auto;
                margin-top: 1.5em;
                padding-bottom: 3em;
                a {
                    text-decoration: none;
                    .post {
                        @extend .box-shadow;
                        background-color: white;
                        margin: 0 2px 1em;
                        padding: 0 0 1em 0;
                        -webkit-column-break-inside: avoid;
                        -moz-column-break-inside: avoid;
                        column-break-inside: avoid;
                        
                        -webkit-transition: all 2s ease;
                        -moz-transition: all 2s ease;
                        -o-transition: all 2s ease;
                        transition: all 2s ease;
                        header {
                            height: 1.75em;
                            position: inherit;
                            width: 100%;
                            &.energy {
                                background-color: $energyMainColor;
                            }
                            &.water {
                                background-color: $waterMainColor;
                            }
                            &.gas {
                                background-color: $gasMainColor;
                            }
                        }
                        article {
                            position: inherit;
                            h1 {
                                padding: 3% 5% 0 5%;
                                font-size: $fontSize *1.5;
                            }
                            p {
                                padding: 3% 5% 0 5%;
                                margin: 1em 0 1em 0;
                                span {
                                    color: $supportColor;
                                }
                            }
                            .postedBy {
                                padding: .7em 0 .7em 0;
                                border-top: 1px solid $grey;
                                img {
                                    width: 4em;
                                    height: 4em;
                                    border-radius: 50%;
                                    float: left;
                                    margin: 0 1em 0 1em;
                                    border: .2em solid $mainColor; 
                                }
                                time {
                                    font-size: $fontSize * 0.8;
                                    color: $lightGrey;
                                }
                            }
                        }
                    }
                }
            }
            #detailPost {
                width: 80%;
                margin: auto;
            }
        }
    } // End of main

    // Navigation
    nav {
        background-color: $menuBackgroundColor;
        height: 100%;
        position: fixed;
        width: 26%;
        z-index: 1;
        #whoIs {
            width: 100%;
            height: 2.1em;
            background-color: $whoIs;
            color: white;
            padding: .4em 0 0 1em;
            font-size: $fontSize *1.3;
        }
        ul {
            padding: 0 0 3em 0;
            li {
                height: 3em;
                padding: 1em 0 0 0;
                &.activeNavItem {  
                    background-color: $supportColorTint;
                }
                a {
                    color: white;
                    text-decoration: none;
                    margin: 0 0 0 .5em;
                    padding: 1.4em 3.5em 1.5em 0;
                    i {
                        color: white;
                        font-size: $fontSize * 1.5;
                        margin: .5em 1.5em 0 0;
                    }
                }
            }
        }
    } // End navigation
} // End of body
